<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <akka>
    <hocon>
      <![CDATA[
        akka {
          suppress-json-serializer-warning = "on"
          
          loglevel = OFF

          actor {
            provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
            debug {
              receive = on
              autoreceive = on
              lifecycle = on
              event-stream = on
              unhandled = on
            }
            deployment {
              /Playback/PlaybackStatistics {
                remote = "akka.tcp://MovieStreamingActorSystem@localhost:8091"
              }
            }
          }

          remote {
            helios.tcp {
  	          port = 0
  	          hostname = localhost
            }
          }
        }
      ]]>
    </hocon>
  </akka>
</configuration>